@media only screen and (max-width: 845px) {
    .welcome
    {
        flex-direction: column-reverse;
    }
    .menu
    {
        position: absolute;
        top: 61px;
        right: 6px;
        transform: translateY(-20px);
        opacity: 0;
        visibility: hidden;
        transition: 0.7s;
    }
    .show
    {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    .menu ul
    {
        background: #f2f2f2;
        border-radius: 15px 0;
    }
    #menubar
    {
        display: block;
    }
}
@media only screen and (max-width: 341px) {
    .menu ul
    {
        flex-direction: column;
    }
}